* {
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(240, 141, 13);
}

.container {
    background-color: grey;
    border: 5px solid #CCCCCC;
    flex-wrap: wrap;
    display: flex;
 align-items: stretch;
    align-content: center;
    justify-content: space-evenly;

    gap: 20px;
}

.box {
    background-color: rgb(99, 26, 168);
    /* max-height: 150px; */
    max-width: 250px;
    width: 250px;
    height: 100%;
    
}

.box img {
    width: 100%;
    height:100%;
}


.box:nth-child(5n){
    background-color: rgb(228, 45, 76);
    
}

.box:nth-child(4n){
    background-color: rgb(82, 228, 45);
    
}

.box:nth-child(n){
    
}





